apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ioft-application
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/doffa-D/ioft.git
    targetRevision: HEAD
    path: dev
  destination: 
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true # If someone manually changes the cluster, Argo CD will FIX it back to match Git
      prune: true # If you DELETE something from Git, Argo CD will DELETE it from the cluster too
